[2019-07-31 09:15] Crucial288 opened #4 "(Improvement) Support autocomplete in Vue template files"
Vue template files currently don't care about autocomplete for Sass.
Syntax highlighting works properly inside Vue sass style tags, but autocomplete does not.

[2019-07-31 13:28] TheRealSyler commented on #4
i will look into it, once  im finished with version 1.6, meaning in a 1 or 2 weeks.

[2019-08-06 12:59] hurick opened #6 "Block comments"
**Describe the bug**
Using `Visual Studio Code`, when upgrading to the `1.6.0` version, the `.sass` files that had block comments are now commented everywhere.

**To Reproduce**
You just need to open a `.module.sass` (I am using the `create-react-app` package) file that have block comments, actually.

**Expected behavior**
Files should be like version `1.5.2` when using block comments, right?

**S

[2019-08-06 13:25] TheRealSyler commented on #6
@hurick  i must admit i am really confused by block comments in sass i tried to make some changes, and it seems like i did not revert them, thought i did, i will take a look at it right now, i should be able to fix this in under 1 one hour, when its fixed i will update the extension, if you could paste the code as text that would be great.

[2019-08-06 13:28] TheRealSyler commented on #4
@Crucial288 i have added autocomplete in the latest version, since i will update the extension today, you should be able to use autocompletion inside vue, later today, im not that familiar with vue but i think it should work, if it doesn't let me know.

[2019-08-06 13:40] hurick commented on #6
@TheRealSyler no problems, mate.
Thank you so much for giving some attention to this problem! 🙏

[2019-08-06 14:04] TheRealSyler commented on #6
[bb952ab](https://github.com/TheRealSyler/vscode-sass-indented/commit/bb952abf436df0f1a99fd06c23d37b6a31390780)

[2019-08-06 14:04] #6 closed

[2019-08-06 14:05] TheRealSyler commented on #4
[bb952ab](https://github.com/TheRealSyler/vscode-sass-indented/commit/bb952abf436df0f1a99fd06c23d37b6a31390780)

[2019-08-06 14:05] #4 closed

[2019-08-06 14:20] hurick commented on #6
@TheRealSyler I already tested and it's working like a charm again.
Thank you a lot for this fix 🙏

[2019-08-07 09:03] Crucial288 commented on #4
Just wanted to confirm I checked this morning and the autocomplete now works as expected!

[2019-08-10 17:21] JhosdryG opened #8 "Color tool"
Hi! the extension is amazing, i really love it, but it would be really usefull if you add the color tool that is displayed when you put the mouse over a color code as i show in the capture below.

Hava a good day!!

![color_tool](https://user-images.githubusercontent.com/53978018/62824909-9f4f8c80-bb71-11e9-8698-2c5281027dec.PNG)

[2019-08-10 18:11] TheRealSyler commented on #8
@JhosdryG  i already looked into this, there is the built in color picker but as far as i know you can't call it,  i might look into it again but not any time soon, if you want a color picker you can get [this](https://marketplace.visualstudio.com/items?itemName=lihui.vs-color-picker) extension.

[2019-08-10 18:11] #8 closed

[2019-08-21 06:33] TheRealSyler commented on #8
@JhosdryG just want to let you know that the default color picker will be in the next Version, you have to wait a bit though, i will publish the next version in September.

[2019-08-21 17:02] octref opened #10 "ContextMenu items bleed into other places"
Hi, this is Pine from VS Code team.

I found this issue in VS Code:

https://github.com/microsoft/vscode/issues/79224

![image](https://user-images.githubusercontent.com/4033249/63451678-9c6a5c80-c3f9-11e9-932c-dc04c46b8884.png)

I found the cause to be your contribution to `view/item/context` doesn't test `view`:

[code]

However your package.json doesn't contains this part. Do you have a prepubl

[2019-08-21 17:05] octref commented on #10
Also, here's the [official guide](https://code.visualstudio.com/api/extension-guides/tree-view), hope it can help:

[code]

[2019-08-21 19:36] TheRealSyler commented on #10
@octref thanks for letting me know, i will make sure that its fixed in the next release, unfortunately I'm not at home until September,  so it will take at least 10 days until I can fix it.

[2019-08-23 14:38] SpectralKH commented on #8
@TheRealSyler So there's actually a way for you to integrate the default color picker?

[2019-08-23 14:54] TheRealSyler commented on #8
@SpectralKH yes, and It was really easy to implement, I just needed to read the documentation.

[2019-08-23 14:57] SpectralKH opened #11 "Autocomplete not working in Vue"
Autocomplete was supposedly added for Vue files in 1.6.1, but it does not seem to be working for me (only syntax highlighting).

As shown in the image, no autocomplete in .vue files inside the <style> tag:
![image](https://user-images.githubusercontent.com/11315492/63601571-f7e94580-c5c5-11e9-9eae-9113c1b16600.png)

[2019-08-23 15:26] TheRealSyler commented on #11
@SpectralKH  I'm not at home, so I can't fix it Right now but I looked at the code that adds the completion's and I already know why it doesn't work, for now you have to use double quotes, because I checked for `lang="sass"`, small mistake will definitely be fixed In the next version.

[2019-08-23 20:47] SpectralKH commented on #11
@TheRealSyler Ah, I see, I can work with that :) Thanks for the quick response!

[2019-08-28 14:15] Hulley opened #12 "I'm trying to get a #region, #endregion tags to drive folding in the editor."
**Describe the bug**
Folding doesn't work, even with other 3rd party plugins

**To Reproduce**
open a .sass file and try to create a custom fold

**Potential Fix**
in sass.language.json change
[code]
to
[code]

[2019-08-28 15:29] TheRealSyler commented on #12
thanks for opening the issue, I have also noticed that you can't fold (anymore?), since I almost never fold my code I didn't really look into it, but I will try to fix it in the next version or the version after that.

[2019-08-29 19:03] ssang opened #13 "Error when going from file to settings page"
**Describe the bug**
There is an error that pops up in the console whenever I go from any file to the settings page. If I have this extension installed along with Eno Snippets, it will also crash the extensions host. If I don't have Eno Snippets enabled, it will just display the error in the developer console.

**To Reproduce**
Open up a sass file (or any file)
Go to the settings UI

**Screenshots

[2019-08-30 16:30] #10 closed

[2019-08-30 16:30] #11 closed

[2019-08-31 07:19] TheRealSyler commented on #13
@ssang i can't replicate the issue so im closing it for now, try the newest version(1.6.2) maybe i fixed it without knowing it.

what i did to try to replicate the bug is i installed eno snippets and opened a sass file and then the setting im not geting any errors related to sass or eno snippets.

[2019-08-31 07:19] #13 closed

[2019-08-31 23:26] ssang commented on #13
Yes it seems to be fixed in 1.62! Thanks

[2019-09-01 20:21] kirko9x opened #14 "Keeps hanging"
Issue Type: <b>Bug</b>

When I click on "watch Sass" it just keeps hanging and nothing is happening.
The code is not transfered from sass to css. Morveover, the buttong "watch sass" can be clicked one time onyl and then it is just frozen ( not clickable)

Extension version: 1.6.2
VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:17:55.855Z)
OS version: Windows_N

[2019-09-01 20:25] TheRealSyler commented on #14
i think you mixed up this extension with another extension, there is no compile functionality in the indented sass extension.

[2019-09-01 20:25] #14 closed

[2019-09-02 23:15] codysherman opened #15 "Some update completely broke formatting"
**Describe the bug**
A lot of things broke in the latest version, it's really messing up the formatting of our files. Hard to pinpoint a specific root cause, other than to just say that it's really screwing up our file.

**To Reproduce**
* Items with commas now remove the line breaks above them (h1, h2, h3)
* `svg` can't be styled anymore, it treats that as a CSS rule instead of an element.
* Some

[2019-09-03 06:28] apolokaklab opened #16 "Curly Brackets Are Not Allowed and Other"
the previous version had no problems. But after the latest update this problem arose.
![BUG](https://user-images.githubusercontent.com/30395693/64148850-99865780-ce4e-11e9-9d86-3cff3318ed73.png)
![BUG2](https://user-images.githubusercontent.com/30395693/64149507-43b2af00-ce50-11e9-8da9-b3f9e1e0772e.png)

[2019-09-03 06:49] TheRealSyler commented on #16
@apolokaklab i added a linter and just added the rule that curly brackets are not allowed, i didn't know that there is a legitimate use case for curly brackets, and i also added a simple rule that checks if variables are declared twice, the reason why i didn't test it thoroughly, is that i wanted to fix some bugs so some unfinished features just got added prematurely, the fix for know is go to the

[2019-09-03 06:55] apolokaklab commented on #16
Thanks for the answer, for this problem solver I am back again to version 1.6.0.

[2019-09-03 07:03] TheRealSyler commented on #16
@apolokaklab  try the next version when it comes out, if i didn't fix the problems that you are having please open another issue or add comment on this one.

[2019-09-03 07:09] TheRealSyler commented on #15
@codysherman thanks for opening the issue, i will look into it, i might be able to publish a new version later today that addresses your issues, if not today then tomorrow.

[2019-09-03 11:16] TheRealSyler commented on #15
@codysherman should be fixed, if not reopen the issue.

[2019-09-03 11:16] #15 closed

[2019-09-03 11:19] TheRealSyler commented on #16
@apolokaklab  by next version i mean 1.6.4, 1.6.3 fixed some formatter issues.

[2019-09-03 19:14] codysherman commented on #15
Hey man thanks for the fast answer and change, but unfortunately it appears to still be broken. Now it's putting rules not tabbed in at all:

[code]

becomes

[code]

[2019-09-03 19:24] TheRealSyler commented on #15
@codysherman yeah i also just found out about it, i updated my fancy check for html tags regex and it works, the only issue is that when you have a tag without any other stuff attached to it, the regex fails, the fix for know is use `///R` it sets the indenation level.

[code]
it will be fixed in the next version but im not going to update until i change more stuff.

[2019-09-05 23:53] torleif opened #17 "Mixing tabs + spaces does not get fixed nor raise warning"
**Is your feature request related to a problem? Please describe.**
When you have file that contains both tabs and spaces, they both get used

**Describe the solution you'd like**
Keep the usage of tabs or spaces consistent

**Describe alternatives you've considered**
Other extensions have an option to set the number of spaces, or to use tabs

**Additional context**
it's great this extensions works

[2019-09-06 02:20] apolokaklab commented on #16
Oke, thanks, I don't think why vscode doesn't support sass, just scss :D

[2019-09-06 05:36] TheRealSyler commented on #17
@torleif should't be to difficult to implement, i will try to add it to the next version.

[2019-09-10 12:02] #17 closed

[2019-09-10 12:06] TheRealSyler commented on #16
The linter is now disabled by default, im closing this for now because im not going to work on the linter anytime soon.

[2019-09-10 12:06] #16 closed

[2019-09-10 12:17] TheRealSyler opened #18 "Depreciated CSS Properties"
Add Depreciation notice to depreciated properties.

[2019-09-10 12:23] TheRealSyler commented on #18
[`grid-gap` ](https://developer.mozilla.org/en-US/docs/Web/CSS/gap) replaced by `gap`

[2019-09-11 06:28] mainangethe opened #19 "Unable to nest anchor tags inside list-item tags"
**Describe the bug**
When creating nav bar styles within an unordered list tag. The system auto corrects the nesting without properly considering the anchor tag.

**To Reproduce**
Create an unordered list tag and add some styles
Nest a list-item tag and add some styles
Also nest an anchor tag inside the list-item tag
Save the .sass file

**Expected behavior**
I expect the system to honor my nestin

[2019-09-11 08:56] TheRealSyler commented on #19
@mainangethe should be fixed in 1.6.4, if it isn't please reopen this issue.

[2019-09-11 08:56] #19 closed

[2019-09-25 08:26] webspilka opened #20 "Unable to nest styles for my function"
**Describe the bug**
When creating styles for my function, formatter delete nesting styles

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Formatter must add idents for style scopes after line starts with "+" symbol

**Screenshots**
![image](https://user-images.githubusercontent.com/1138069/65582963-0640cd80-df87-11e9-9491-c7b56b3ba34a.png)

**Desktop (please compl

[2019-09-25 10:21] TheRealSyler commented on #20
should be fixe now.

[2019-09-25 10:21] #20 closed

[2019-09-26 07:40] webspilka opened #21 "After update to 1.6.5: I get message "There is no formatter for 'sass'-files installed""
**Describe the bug**
after yesterday's update to 1.6.5, formatting no longer works

**To Reproduce**
Steps to reproduce the behavior:
- update to 1.6.5

**Screenshots**
![image](https://user-images.githubusercontent.com/1138069/65667939-72840580-e049-11e9-9ced-783b359665d1.png)

**Desktop (please complete the following information):**
 - OS: [mac.os 10.14.6]
 - Version (of the extension) [e.g. 1.6

[2019-09-26 08:34] noe132 opened #22 "css property name autocomplete suggestion not working"
**Describe the bug**
Type any css property names to trigger css autocomplete, broken in `1.6.5`

**To Reproduce**
Steps to reproduce the behavior:
1. open any sass file
2. type `flfl`
3. no suggestion available
![image](https://user-images.githubusercontent.com/2271900/65672262-4e411c80-e07b-11e9-9f00-150885ab55c7.png)

**Expected behavior**
there should be an autocomplete popup like this
![image]

[2019-09-26 11:50] TheRealSyler commented on #21
i hate it when, it works locally and then it brakes after publishing, it seems that the entire extension is broken,i will fix it later today.

[2019-09-26 11:51] TheRealSyler commented on #22
yeah i broke the extension yesterday, worked locally, will fix it later today.

[2019-09-26 12:32] vlad-tircomnicu commented on #22
Almost reinstalled my laptop :))

[2019-09-26 15:45] TheRealSyler commented on #22
so i reinstalled my node modules, and added the tslib ot my package.json, i think this is all i have to do to make it work again, i tested it and it works now, let me know if doesn't work.

[2019-09-26 15:45] #22 closed

[2019-09-26 15:46] TheRealSyler commented on #21
should work again, if it doesn't, please reopen this issue.

[2019-09-26 15:46] #21 closed

[2019-09-26 15:56] vlad-tircomnicu commented on #22
Working for me right now! Thank you!

[2019-10-01 19:32] SpejCZ opened #23 "A really annoying bug with auto-formatting"
**Describe the bug**
It's a bug with autoformatter
It moves the things in the media query to the starting point of the media query, which is really annoying because it breaks the entire code.

**To Reproduce**
Steps to reproduce the behavior:
Write the following into a sass file, format it and compile, it returns broken css:
[code]

**Expected behavior**
A clear and concise description of what you

[2019-10-01 22:14] TheRealSyler commented on #23
this is technically expected behavior, but i see why this might bother you, the reason why this happens is the formatter goes trough the file from top to bottom and there is a rule that selectors can only be indented one tab size from the last selector so in this example the second `.item` cant be indented to further, as far as the formatter is concerned the media query doesn't exist, so there are

[2019-10-03 17:44] TheRealSyler commented on #23
i fixed it,  i will wait updating the extension until i made more changes since this is just a minor bug.

[2019-10-03 18:20] SpejCZ commented on #23
Okay, thank you for help

Od: TheRealSyler
Odesláno:čtvrtek 3. října 2019 19:44
Komu: TheRealSyler/vscode-sass-indented
Kopie: SpejCZ; Author
Předmět: Re: [TheRealSyler/vscode-sass-indented] A really annoying bug withauto-formatting (#23)

i fixed it, i will wait updating the extension until i made more changes since this is just a minor bug.
—
You are receiving this because you authored the threa

[2019-10-08 12:14] PinkiePieStyle commented on #23
Same Problem
Left is before and Right after Format
other is from comment here

but formats wrong and gives wrong css too
![sassformat](https://user-images.githubusercontent.com/7350146/66393513-07d0b380-e9d3-11e9-93cf-92bfcaa8376b.png)

Correct output gives only Code below when using format (using //R is crap its easier not using format)
[code]

[code]

But lines like this doesnt format
[code]

[2019-10-08 12:41] TheRealSyler commented on #23
@PinkiePieStyle i thought that the `@for` and `@each` stuff already works, but i guess ill have to fix that too, the //R is meant to be used as a work around until the formatter works as expected, the `>` thing will also be fixed  in the next version, and the reason why the last example doesn't format is because its just not implemented yet, feel free to add stuff you feel is missing yourself (spe

[2019-10-08 15:02] TheRealSyler commented on #23
all of the issues should be addressed by the latest release, except this `background-image: linear-gradient(to bottom,                #fff 0%,                #000             100%   )` is still expected behavior,

[2019-10-08 15:02] #23 closed

[2019-10-24 10:56] svilenmarkov opened #24 "Broken color decorators"
**Describe the bug:**
Hex codes always display as white and color keywords don't even get recognized as colors.

**Screenshots**
![example](https://user-images.githubusercontent.com/7613769/67478817-bbcd7200-f654-11e9-82b8-9ff918d90b5c.png)

**Desktop:**
 - OS: Win10
 - Version (of the extension): 1.6.7

[2019-10-24 11:46] TheRealSyler commented on #24
ill look into it, red should not be recognized, because its just not implemented, hex colors should work but i have also seen weird behavior, i will fix it later today probably wont update the extension until i have fixed/added more stuff.

[2019-10-24 17:50] TheRealSyler commented on #24
its fixed, im closing this later when i publish the next version.

[2019-10-30 11:56] mateusavila opened #25 "minify sass file when paste"
When pasting a code, the autoformater removes all spaces and minify the file.

Happen in:
 - Windows 10
 - Version 1.39.2

[2019-10-30 12:46] TheRealSyler commented on #25
@mateusavila not sure what you mean, please give an example (screenshot).

[2019-10-30 13:45] mateusavila commented on #25
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/2197079/67863238-48b77600-fb02-11e9-8b4c-36d535f7ec6a.gif)

I'm just pasting anything, then the autoformat removes all the tabs.

[2019-10-31 00:58] mateusavila commented on #25
Hi!

Only happens in sass files. Even in .Vue files with sass inside works pretty well.

I'll test later.

[2019-10-31 15:40] theovgl opened #26 "@use support"
The SASS team seems to have created a new feature called `@use`. It seems to be very useful and will even replace `@import` in the long term.
Unfortunately I don't have the impression that sass-indented is compatible.

Source : [Css-Tricks](https://css-tricks.com/introducing-sass-modules/)

[2019-10-31 16:37] TheRealSyler commented on #26
thanks for making me aware, i will try to add it to the next version.

[2019-10-31 23:27] mateusavila commented on #25
The console returns empty. Fails silently.

[2019-11-01 05:24] TheRealSyler commented on #25
i can't help you if cannot reproduce the bug and i have no clue where it comes from, im sorry but i can't help you with this issue.

[2019-11-01 05:24] #25 closed

[2019-11-06 15:23] TheRealSyler commented on #26
Note: add [meta](https://sass-lang.com/documentation/modules/meta) module before closing.

[2019-11-11 20:32] Limonische opened #27 "@functions isn't recognized by TM Scopes. Name of @import is no longer a string"
**Describe the bug**
If you try to inspect @function statement with "Inspect TM Scopes" it freezes in infinite loading. Color highlighting for @function is broken. Same goes for mixins.
Name of file in @import is no longer a string.

**To Reproduce**
Use "Inspect TM Scopes" in vscode-insiders 1.41.0

**Expected behavior**
Color highlighting for @function should work, it also should be accessible b

[2019-11-11 20:41] TheRealSyler commented on #27
@Limonische the highlighting is already fixed in the latest version (on my local machine), not sure what  "Inspect TM Scopes" is but ill look into it.

[2019-11-11 20:45] Limonische commented on #27
Its a feature in vscode that allows you to look at language token types and detect which colors and styles are applied to it. You can access it by ctrl/command + shift + p and then selecting "Developer: Inspect TM Scopes"
![image](https://user-images.githubusercontent.com/47951826/68619860-521ae800-04dd-11ea-9dee-16e57c34ab8d.png)

Thank you for your fast reply.

[2019-11-11 20:48] TheRealSyler commented on #27
yeah just downloaded vscode insiders its a really cool feature, it should already be fixed, the reason why the highlighting doesn't work is this regex `[[\\w-]+` as you can see the regex is invalid i catched that shortly after publishing

[2019-11-11 20:51] Limonische commented on #27
Thank you again! Can i ask you when this new release with fixes will be shipped?

[2019-11-11 20:53] TheRealSyler commented on #27
im not sure i will try to have it published tomorrow or the day after that.

[2019-11-11 21:02] Limonische commented on #27
Nice. Keep your the good work :)

[2019-11-11 21:10] TheRealSyler commented on #27
@Limonische hey if you want it fixed right now, go to this repo and download `sass-indented-1.6.8.vsix` then search for the `install.vsix` extension, right click on the file and chose `install extension`, you might need to download the entire repo because i don't think that github lets you download single files.

[2019-11-11 21:12] TheRealSyler commented on #27
also not sure if it auto updates extensions after you install them from a files so you might need to uninstall and reinstall the extension when the new version comes out.

[2019-11-12 16:11] #27 closed

[2019-11-12 16:11] #18 closed

[2019-11-12 16:11] #24 closed

[2019-11-12 23:00] Limonische commented on #26
If you use @use like so:
[code]

"as" and "somethingElse" lack syntax highlighting.

[2019-11-12 23:02] Limonische commented on #26
Also since its related, there is no support for the new @forward feature; And everything typed after @use, @import or @forward also has no syntax highlighting.

[2019-11-13 06:59] TheRealSyler commented on #26
it works on my end not sure what might cause the lack of syntax highlighting, ill look into the @forward thing.
![image](https://user-images.githubusercontent.com/46901787/68740231-e9219600-05ea-11ea-93e1-6ec42fa3b412.png)

[2019-11-14 09:33] limbosounds opened #28 "Syntax highlight is broken"
**Describe the bug**
Wrong highlight color of class selector with tag name

**To Reproduce**
Steps to reproduce the behavior:
1. Write class selector with tag name.

**Expected behavior**
Class selector will be highlighted red instead of yellow.

**Screenshots**
![Screenshot from 2019-11-14 11-27-25](https://user-images.githubusercontent.com/26549754/68844126-f9607080-06d1-11ea-98d9-5a2dfa4cf91b.p

[2019-11-14 12:14] TheRealSyler commented on #28
@limbosounds i already know why that is, i will fix it soon ish.

[2019-11-14 12:16] limbosounds commented on #28
@TheRealSyler thank you :)

[2019-11-16 02:19] codysherman opened #29 "The formatter is removing indentation within `\:root`"
**Describe the bug**
The formatter is removing indentation within `\:root`

**To Reproduce**
[code]

**Expected behavior**
It should keep the indention of rules for the :root selector

**Desktop (please complete the following information):**
 - OS: Chrome OS 69
 - Version: 1.6.9

**Additional context**
`:root`
https://developer.mozilla.org/en-US/docs/Web/CSS/:root

In theory `:root` should be vali

[2019-11-16 08:53] TheRealSyler commented on #29
as far as i can tell this is not a bug, but i can add a rule that ignores backslashes at the beginning of a selector.

[2019-11-17 03:24] syyui15926 opened #30 "The formatter indent my sass code after +mixin"
**Describe the bug**
A clear and concise description of what the bug is.
The formatter indent my sass code after +mixin cause compile error
**To Reproduce**
Steps to reproduce the behavior:

before format:
+size(300px,300px)
position: absolute

after format:
+size(300px,300px)
  position: absolute

**Expected behavior**
A clear and concise description of what you expected to happen.
I expected the

[2019-11-20 08:29] Teemwu opened #31 "Formatting multiple lines of comment errors-格式化多行注释出错"
**Describe the bug**
格式化后，多行注释会被转换成 “ \*/ ”
google translate：After formatting, multi-line comments will be converted to "\*/"

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
格式化前
Before formatting
![image](https://user-images.githubusercontent.com/16522288/69221566-8dd74100-0bb2-11ea-97b8-cf7

[2019-11-20 08:44] #31 closed

[2019-11-21 21:15] TheRealSyler commented on #28
fixed, but i have to add other stuff before i publish the next version.

[2019-11-25 21:02] ibrainventures opened #32 "css root var in combination with @media is buggy"
**Describe the bug**

Thanks for working on this very usefull vs-extenstion.

I have one little annoying bug with the following:

[code]
@media (min-width: 1024px)
  \:root
    --spacer:4em
[code]

[code]

[2019-11-25 21:10] TheRealSyler commented on #32
first of this is not a bug in the extension, but a bug in the formatter, having said that this bug is already fixed, i just didn't have the time to publish a new version of the extension, i will make sure to add a clear note, so that people know that the formatter is a separate thing.

[2019-11-25 21:12] TheRealSyler commented on #32
@ibrainventures  also you can temporarily fix it like this:
[code]

[2019-11-26 14:19] #28 closed

[2019-12-11 17:46] omersname opened #33 "When I use @font-face its formating all of the nesting element to the global scope on save like it doesn't recognize sass type.."
**_IMPORTANT_**: if the bug is related to the formatter please open the issue in the formatter [repo](https://github.com/TheRealSyler/sass-formatter/issues/new?assignees=TheRealSyler&labels=bug&template=bug_report.md&title=)

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise descrip

[2019-12-11 18:04] #33 closed

[2019-12-18 18:33] dtvn opened #34 "Support new syntax: `map.get()`"
In the pass, we have `map-get()`. With the new sass, we can do this:

[code]

But our current ext sees it as an error. It would be cool this can be fixed soon.

Reference:
- https://sass-lang.com/documentation/modules/map

[2019-12-18 19:24] TheRealSyler commented on #34
your snippet is scss, is this extension is for sass are you sure you opened the issue in the right place?
if this is the right repo, what do you mean by error? please elaborate.

[2019-12-18 21:02] dtvn commented on #34
My apologize, I always used it with scss and it worked fine until the new upgrade of SASS so I thought the ext also support scss. I've changed the file to sass format and it works perfectly fine.

[2019-12-18 21:02] #34 closed

[2019-12-18 21:05] TheRealSyler commented on #34
@dtvn no worries, scss is supported without extensions, you only need the extension when you want to use sass.

[2019-12-22 15:52] TheRealSyler opened #35 "Fix interpolation Syntax highlighting"
fix
[code]

[2020-01-02 11:32] #35 closed

[2020-02-11 22:29] TheRealSyler opened #36 "Fix @include cvompletion and add + syntax @include completion suppport."
this
[code]
will result in this when autocompleting
[code]

[2020-02-12 16:00] TheRealSyler commented on #36
286f4e965f7e77dc78871f2a6493c6627289932b

[2020-02-12 16:00] #36 closed

[2020-02-19 16:46] juliomotol opened #37 "Passing Arguments to Content Blocks Support"
**Describe the bug**
The linter is saying there is a problem with using `@content ($param)` and `@mixin () using ($param)` but I'm able to build the SCSS. See [SASS Documentation](https://sass-lang.com/documentation/at-rules/mixin#passing-arguments-to-content-blocks)

**To Reproduce**
Steps to reproduce the behavior:

    @mixin media($types...) {
      @each $type in $types {
        @media #{$ty

[2020-02-19 17:38] TheRealSyler commented on #37
this extension is for `.sass` files only, for issues with the built in support try opening your issue in the vscode repo.

[2020-02-19 17:38] #37 closed

[2020-03-20 06:30] 15774211127 opened #38 "Auto complete failure"
**Describe the bug**
No attribute prompt after ‘display’ entered

**To Reproduce**
1. Enter display

2. Select dispaly at the prompt

3. Press enter

4. Automatic complete ‘display’

**Expected behavior**
prompt [block、contents、flex、inline、inline-block]

**Screenshots**

![1](https://user-images.githubusercontent.com/17411462/77141212-0c87b080-6ab7-11ea-899a-e3fc578479de.gif)

![2](https://user-im

[2020-03-20 06:35] TheRealSyler commented on #38
@15774211127 go to the settings and disable `sass.autocomplete.useExperimentalData`, i have also noticed that there are some problems with the experimental data, i will probably turn it off by default in the next version or if will see what i can do to improve the data.

[2020-03-20 06:35] #38 closed

[2020-03-22 11:15] ntDash opened #39 "Why the "Follow Link (ctrl + click)" is not working ?"

[2020-03-22 11:16] TheRealSyler commented on #39
@ntDash im not sure what you mean, could you please elaborate?

[2020-03-22 11:19] ntDash commented on #39
the code navigation is not working

[2020-03-22 11:22] TheRealSyler commented on #39
@ntDash its not working because its not implemented, feel free to make open a feature request issue.

[2020-03-22 11:22] #39 closed

[2020-03-22 11:28] ntDash opened #40 "Code Navigation"

[2020-03-22 11:38] TheRealSyler commented on #40
refs:
 * https://code.visualstudio.com/api/references/vscode-api#languages.registerDefinitionProvider
 * https://code.visualstudio.com/api/language-extensions/overview#programmatic-language-features

[2020-04-05 10:34] TheRealSyler commented on #12
Folding seems to be working again.

[2020-04-05 10:34] #12 closed

[2020-04-07 15:35] TheRealSyler opened #41 "Fix extract to mixin."
The Mixin needs to be inserted above the current block and i forgot to add @include or +Include.

[2020-04-07 15:46] TheRealSyler opened #42 "Add ability to load css variables with comment."
Add ability to load css variables with comment.

[2020-04-08 17:21] #42 closed

[2020-04-16 15:17] TheRealSyler opened #43 "fix regex"
fixed regex: `/^[\t ]*(@import|@use)[\t ]*['"]?(.*?)['"]?[\t ]*([\t ]+as.*)?$/`

https://github.com/TheRealSyler/vscode-sass-indented/blob/fba653db6c40200de608f58db03de4f99605d685/src/autocomplete/autocomplete.utility.ts#L23

[2020-04-25 20:54] junmiron opened #44 "Configurable indent to two or four spaces"
**Is your feature request related to a problem? Please describe.**
I always get an error with Sass Lint because the indent is four spaces and not two.

**Describe the solution you'd like**
To be able to configure indent to be two or four spaces, for the automatic indent and formatter.

**Describe alternatives you've considered**
I considered disabling the automatic indent and configuring the Linte

[2020-04-25 21:24] TheRealSyler commented on #44
you can already configure how many spaces you want, just use the [vscode settings](https://code.visualstudio.com/docs/editor/codebasics#_indentation) and the formatter will use the vscode settings.

[2020-04-25 21:24] #44 closed

[2020-04-26 21:57] leopaini opened #45 "Nested properties"
Hello, I'm trying to make some nested properties, and the automatic indent doesn't allow me to do it.

Example:
`border:
     style: dashed
     width: 30px
     color: blue
`

[2020-04-27 14:10] elmokirk opened #46 "Sass Compiler and it's problems with display: grid;"
**_IMPORTANT_**: if the bug is related to the formatter please open the issue in the formatter [repo](https://github.com/TheRealSyler/sass-formatter/issues/new?assignees=TheRealSyler&labels=bug&template=bug_report.md&title=)

**Describe the bug**
The Compiler doesn't include the normal "grid-column / grid-row" but it includes the browserfixed which is wired.
Additional to that does the repeat() fu

[2020-04-27 14:12] TheRealSyler commented on #46
the extension is only for the `.sass` syntax.

[2020-04-27 14:12] #46 closed

[2020-05-01 06:00] mesqueeb opened #47 "struggling with JSDoc style comment blocks indentation"
**_IMPORTANT_**: if the bug is related to the formatter please open the issue in the formatter [repo](https://github.com/TheRealSyler/sass-formatter/issues/new?assignees=TheRealSyler&labels=bug&template=bug_report.md&title=)

I'm not sure!

**Describe the bug**
I use JSDoc syntax to document a lot of parts throughout all my apps.

I often need to make some minimal documentation for SASS variables

[2020-05-01 06:27] TheRealSyler commented on #47
@mesqueeb i will put it on my todo list.

[2020-05-01 06:34] mesqueeb commented on #47
@TheRealSyler Wow thank you so much!! 😍

Here is an example of a `color.sass` file I'm maintaining for a project:

[code]

PS: I'm working on a SASS file parser that can extract these variables & JSDoc style comments, and automatically create a style guide exposé. So both designer and programmer have the same source of truth.

[2020-05-01 06:38] mesqueeb opened #48 "Bug: adds indentation when it should not"
**_IMPORTANT_**: if the bug is related to the formatter please open the issue in the formatter [repo](https://github.com/TheRealSyler/sass-formatter/issues/new?assignees=TheRealSyler&labels=bug&template=bug_report.md&title=)

I'm not sure!

**Describe the bug**

Often when I'm defining sass variables, I'd like them to stay on the root level  → 0 indentation.

I'm not sure why, and if it's this sas

[2020-05-01 06:42] TheRealSyler commented on #48
this is expected behavior, i didn't implement it so im not sure how it works exactly but you can use `alt + arrow(up/down)` to move a line.

[2020-05-01 06:42] #48 closed

[2020-05-01 06:53] TheRealSyler commented on #47
@mesqueeb i might have a parser that already can do what you want with no or little changes, im currently working on version 2 of the extension and part of that is creating a parser that parses a file into nodes, just download the lsp-branch of this extension and look into the `server/src/abstactSyntaxTree` folder, you can run tests by running `yarn test:watch` in the server folder, just keep in m

[2020-05-01 07:46] mesqueeb commented on #47
😅
I’m not so advanced with these things as you i think.......

[2020-05-15 10:06] #43 closed

[2020-05-23 06:00] brewster1134 opened #49 "incorrectly reporting problem with having 1 space between the prop and value"
so eventually after installing the Sass vscode extension, at some point, it starts reporting the problem `Property should have one space Between prop and value`, despite there only being a single space between the property and value.

once i start seeing this, i can uninstall & reinstall the sass extension, and the problem goes away for awhile... but will eventually return and start reporting the

[2020-05-23 07:45] TheRealSyler commented on #49
you can disable the linter in the sass settings, and mark [this](https://stackoverflow.com/a/61928785/11202842) answer as the best answer, as i said the the comment on the answer i the linter is an old discontinued project that you should always have disabled.

[2020-05-23 07:45] #49 closed

[2020-06-16 12:28] orblazer opened #50 "Publish extensions to open-vsx"
I'm a [VS Codium](https://github.com/VSCodium/vscodium) user, a FLOSS version of VS Code, it's the same code but without the Microsoft's telemetry and branding.
I want to request if possible to add the _Sass_ extension on the [open-vsx.org](https://open-vsx.org/) market to us doesn't need to works with the Microsoft marketplace as is unclear if it's legal to use it on VS Code forks, see [here](htt

[2020-06-16 12:28] orblazer commented on #50
Ops its not a bug, i have miss select template

[2020-06-16 13:16] dax-westerman opened #51 "nth-child property (background color) loses indent"
**_IMPORTANT_**: if the bug is related to the formatter please open the issue in the formatter [repo](https://github.com/TheRealSyler/sass-formatter/issues/new?assignees=TheRealSyler&labels=bug&template=bug_report.md&title=)

**Describe the bug**
When SASS reference to alternating table row exists, background color loses indent

[code]
formats to
[code]

**To Reproduce**
Create SASS file in VS Cod

[2020-06-16 13:57] TheRealSyler commented on #50
done i published the extension on open-vsx.org.

[2020-06-16 13:57] #50 closed

[2020-07-17 09:39] robrecord commented on #49
Could you perhaps remove the option so that we don't stumble into this? There is no way to know. Many thanks.

[2020-07-18 21:14] 747 opened #52 "Sass style block comment won't close until */"
**Describe the bug**
[Sass block comment is indentation-based](https://sass-lang.com/documentation/syntax/comments#in-sass), where the closing mark `*/` isn't needed when the line starts with `/*`.
But in the latest version of highlighter, the comment extends forever until it sees a closing token. On the other hand, indented block comments seems not recognized.

**To Reproduce**
Minimal example:
[

[2020-07-19 07:10] #52 closed

[2020-07-19 07:11] TheRealSyler commented on #52
should be fixed, if it there still is an issue please leave a new comment or open a new  issue.

[2020-07-20 04:27] 747 commented on #52
Thanks for quick fixing. It works well with my current file, but still needs work for such a case like:
[code]

It shouldn't consume same-level declarations following it.

[2020-08-14 07:58] mesqueeb commented on #47
@TheRealSyler I starter working on my sass parser, and I tried your branch!

however,
[code]
your dependency is not hosted on github? :D

<img width="792" alt="image" src="https://user-images.githubusercontent.com/3253920/90227381-6a92a700-de4f-11ea-92e4-8efe292e95c3.png">

[2020-08-14 08:02] TheRealSyler commented on #47
you have to download [this repo](https://github.com/TheRealSyler/sass-lsp-server) and link it manually, im currently not actively working on that project, but if you run into any issues feel free to let me know.

[2020-08-14 08:05] TheRealSyler commented on #47
and i think you only need the `sass-lsp-server`, at the time i had the server and the extension in the same repo but now its in two separate repos.

[2020-08-27 08:31] dummdidumm opened #57 "(Improvement) Support autocomplete in Svelte files"
**Is your feature request related to a problem? Please describe.**
I do not get autocompletions inside Svelte files.

**Describe the solution you'd like**
Support autocompletion in Svelte files where `<style lang="sass">` is present.

[code]

**Additional context**
Basically the same support Vue got through #4

[2020-08-27 11:11] TheRealSyler commented on #57
i can look into it, i also want to point out that this extension is for `.sass` only, `.scss` is handled by a build in vscode extension.

[2020-08-27 11:31] dummdidumm commented on #57
Oops, sorry, meant to type `sass`, not `scss` 😄 Thank you for looking into it!

[2020-08-29 10:31] #57 closed

[2020-08-29 10:40] TheRealSyler commented on #57
should work in the latest version, if there are any issues feel free to open a new issue.

[2020-08-29 13:04] dummdidumm commented on #57
Works perfectly, thanks for the quick implementation! 🎉

[2020-09-26 19:29] sanluher1 opened #60 "Failed to load resource: the server responded with a status of 404 (Not Found)"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-09-26 19:31] TheRealSyler commented on #60
@sanluher1 please describe your issue, i have no idea what you mean.

[2020-09-27 06:21] #60 closed

[2020-10-17 11:24] #26 closed

[2020-11-10 13:01] dvdkon commented on #38
This is still a problem for me and manually adding `"sass.autocomplete.useExperimentalData": false` doesn't help (it seems this option is not present in the current version).

[2020-11-10 13:06] TheRealSyler commented on #38
@dvdkon yes that option was removed some time ago i think, i guess i need to update the readme, not sure why you are having that problem, feel free to open a new issue, add screenshots and the sass text so that i can reproduce the error.

[2020-11-10 13:16] dvdkon commented on #38
All right, thanks for the quick reply!

[2020-11-10 19:06] Vassi opened #64 "Question: intellisense/autocomplete on @use"
This is maybe more of a question. Is this extension intended to provide auto-complete support for @use declarations? I'm also maybe wondering if it's a weird config issue.

Context: I'm using a create-react-app setup with sass (dart-sass) package for compilation. I can successfully use the following:

[code]

This compiles and works, but I get no auto-complete for `vars.` in mixins, and nothing fo

[2020-11-10 19:15] TheRealSyler commented on #64
@Vassi it works but you use the `.scss` syntax which is not supported by this extension, `.scss` is handled by a builtin vscode extension, this extension is for `.sass` (aka the indented snytax) only, you can convert your files to `.sass` and the formatter should convert it or you can open an issue at the vscode repo? (i think thats the right place but im not sure)

[2020-11-10 19:15] #64 closed

[2020-11-11 12:26] TheRealSyler commented on #47
@mesqueeb i think i can close this reopen if you feel that it should stay open.

[2020-11-11 12:26] #47 closed

[2020-11-11 22:44] mesqueeb commented on #47
@TheRealSyler thanks again for all your help so far!

[2020-12-03 16:55] babakfp opened #65 "highlighting problem"
Hello.
In a .sasss fine, write:
[code]
There is going to be a highlighting problem on the parentheses.

[2020-12-03 17:05] TheRealSyler commented on #65
i cant't reproduce the problem, please add more info.

[2020-12-10 23:47] veritasnz opened #66 "Add indented BEM Modifier recognition"
This is my first feature request ever so let me know if there is anything in my post that needs improving

Currently this plugin supports indented BEM Element formatting.
For example, the below indented BEM Element notation works as expected, as is recognised:
[code]
And the formatter gives the '__title' section the correct color based on my theme.

However the below indented BEM Modifier notation

[2020-12-11 08:15] TheRealSyler commented on #66
@veritasnz this extension is only for the `.sass` syntax, also this issue is not related to the formatter (i don't know if the default scss extension has one), but its related to the grammar, vscode uses files that are called textmate grammars as rules to split code into tokens and every token gets an assigned color, try opening a new issue in the main[ vscode repo](https://github.com/microsoft/vs

[2021-01-05 12:00] spoenemann opened #68 "Open VSX Listing: Signing the Publisher Agreement"
Thank you for being part of the Open VSX community by adding your extensions to the Open VSX Registry. Please note that the service was recently transferred to the Eclipse Foundation and urgent action on your part is needed so we can continue to list your extensions. To ensure uninterrupted service, please sign the [Eclipse Publisher Agreement](https://www.eclipse.org/legal/documents/eclipse-openv

[2021-01-05 15:30] #68 closed

[2021-01-17 17:12] sKopheK opened #69 "How is it supposed to work?"
Hi,
just instaled the extension into VS Code, but it does not format anything upon saving. Syntax highlighting seems to be supported by VS Code out of the box without any extensions (confirmed upon starting in dev mode with all extensions disabled).
Q: not able to navigate to mixin definition inside another file. is it supported?

[2021-01-17 18:46] TheRealSyler commented on #69
are you using .sass or .scss?, this extension is for .sass only, definition navigation is not (yet? #40) implemented.

[2021-01-17 18:48] TheRealSyler commented on #69
also formatting on save has to be enabled somewhere in the editor options.

[2021-01-17 18:49] #69 closed

[2021-01-17 18:51] sKopheK commented on #69
i'm using SCSS, which is technically also SASS, just another syntax, right?
worth mentioning in the documentation then ;)

[2021-01-25 17:33] TheRealSyler opened #71 "remove tslint"

[2021-01-27 12:23] #71 closed

[2021-01-27 13:04] TheRealSyler opened #73 "Update readme"
some options and other info are not up to date in the readme.

[2021-02-03 13:41] TacitBrawler opened #74 "Please check validity of the block starting from line #1 (CssSyntaxError)stylelint(CssSyntaxError)"
The bug persists right at the first line.
version: 1.8.15

![Screenshot (25)](https://user-images.githubusercontent.com/74355872/106754922-8d11ba00-6653-11eb-9082-41bce10ca904.png)

[2021-02-03 13:57] TacitBrawler commented on #74
Alright! when the file saved under '.scss' extension, it is working!
Only going haywire when it is a '.sass'.
sass has it's mapping missing  on ".map" file.
could someone please explain why this is happening?

[2021-02-03 14:37] TheRealSyler commented on #74
@TacitBrawler  you cannot use brackets in the `.sass` syntax, regardless the error is definitely not from this sass extension.

this extension is only for the `.sass` syntax, here is an example
[code]
this is the `.scss` syntax which is not supported by this extension.
[code]

[2021-02-03 14:37] #74 closed

[2021-02-08 15:05] babakfp commented on #65
Hi
Sorry, I was forgotten to respond.
![Capture](https://user-images.githubusercontent.com/44144724/107237476-a0b67b00-69db-11eb-9847-119f530e1de7.PNG)
This is what I see in a .sass file. The color of the left and right parentheses isn't the same.

[2021-02-08 15:24] TheRealSyler commented on #65
i had  a bracket colorizer extension enabled now i can reproduce the issue.

[2021-02-08 16:10] babakfp opened #75 "Two line comments in a .sass file"
Hi
As you see, those two lines are considered as a comment. In the vscode, the second line isn't highlighted as a comment. It is shown as a normal text.
[code]
From the [SASS comments documentation](https://sass-lang.com/documentation/syntax/comments), you can see how a comment can be written in a `.sass` file.

**To Reproduce**
1. Create a `.sass` file. For example `index.sass`
2. Write the code

[2021-03-01 17:00] AradAral opened #76 "Add an option to disable the distinct highlighting of units"
Hi. I prefer Sass's indented syntax over SCSS, and I tried many times to use this plugin, but one thing that annoys me very much is the fact that units are colored differently than the number preceding them.

I propose this would either be disabled entirely (maybe it's just me but I think it's just unnecessary clutter) or at least an option would be available that lets us disable it. This would ma

[2021-03-01 17:01] AradAral commented on #76
I'm willing to also create a PR for this.

[2021-03-01 19:17] TheRealSyler commented on #76
i like that the units have a different color, that why i added it, i don't think that its possible to add an option, if there is a way to add an option i would not be against adding one.

you can change it by creating a new extension that only handles the syntax highlighting and tell vscode to not use this extension for syntax highlighting, you can get the grammar file without my changes from [her

[2021-03-01 19:17] #76 closed

[2021-03-08 20:47] TheRealSyler commented on #75
sorry that i didn't respond earlier, i will look into it, it might take a long time though.

[2021-03-12 09:59] babakfp commented on #75
No worries. Thanks a lot.

[2021-03-18 21:34] geoidesic opened #78 "How to install"
Sorry if I'm being stupid but I can't figure out how to install this.

The readme says, "paste this into the command palette: `ext install sass-indented`". However I don't know what a `command pallette` might be. I googled it and also found it in the `help` section of vscode. However what I get is basically an autocomplete dropdown with a greater than symbol in it at the top of vs-code. If I copy

[2021-03-19 07:34] TheRealSyler commented on #78
have a look at this article, https://code.visualstudio.com/docs/editor/extension-gallery you don't need to install extensions via the command pallet.

[2021-03-19 07:34] #78 closed

[2021-04-22 00:29] brewster1134 opened #80 "npm package path linking and autocomplete issue"
we noticed when using `@import`/`@use` for sass partials, the link to the path is not clickable. i found a few different solutions, but all have some drawbacks.  the issues being unable to type and browse for the file to autocomplete the path and/or unable to cmd+click on the link to open the file.

i am trying to emulate the pathing capabilities available with the js & ts extensions

[code]

is t

[2021-04-22 09:00] TheRealSyler commented on #80
i am not adding new features at the moment, maybe in the future but don't count on it.

[2021-04-22 18:23] brewster1134 commented on #80
fair enough :) ...
so i am unfamiliar with vscode extension development, and tried looking at how to implement this support, but wasn't very successful. if you know of any resources and/or where in the extension this support would go, i would be interested in looking into it and maybe sending a pull request your way

[2021-04-22 20:45] TheRealSyler commented on #80
are you using the `.scss` syntax?, this extension is only for the `.sass` syntax.

if you use the `.scss` syntax then this is the wrong repo, the `.scss` extension is part of the vscode repo and i think its maintained by the core vscode team, so if you want to improve this feature you need to open a new issue in the vscode repo.

[2021-04-22 20:49] TheRealSyler commented on #80
also related to #40

[2021-06-07 02:05] Pythonofsdc opened #84 "path autocomplete don't work"
**Describe the bug**
path autocomplete don't work

**Expected behavior**
when i wrilte url in my project,the autocomplete options don't contain path option,but show other css property value in my vscode

**Screenshots**
![image](https://user-images.githubusercontent.com/24424626/120949784-db58d600-c777-11eb-929e-453be21d94fa.png)

[2021-06-07 05:27] TheRealSyler commented on #84
its not implemented yet?, im currently not adding new features to this extension, but i might do it some day so ill leave this open.

[2021-06-24 13:12] css3coder opened #86 "Strange bug"
Quite recently, a very strange bug appeared:
when I press ctrl + s, the styles for "picture, img" jump to the left, like this:
http://joxi.ru/n2YgkLDieqbwPr.png
http://joxi.ru/L21605yc0PRqzA.png

I select them, return them back, but when saving, they again jump off to the left (
This does not happen in all sass files, but in many.

[2021-06-24 13:35] TheRealSyler commented on #86
i already know what needs to be changed to fix this, but im not sure when im able to update the extension, for now you can put the img tag on the next line then it should work.

[2021-07-07 16:00] mv-go opened #87 "Empty Property error on any property line"
**Describe the bug**
I'm getting `Empty Property` error on pretty much any line that I write.

**To Reproduce**
1. Install plugin
2. Create a test.sass file anywhere on your system.
3. Try applying font-size and red color to a div
4. Error will show up on both lines

**Expected behavior**
No error for valid property definitions.

**Screenshots**
<img width="442" alt="image" src="https://user-image

[2021-07-07 16:04] mv-go commented on #87
I tried googling it up and looked through issues in this repo - couldn't find anything related. Probably something stupid on my side, but I can't figure it out

[2021-07-07 16:33] TheRealSyler commented on #87
@mv-go go to settings `sass.lint` and make sure that the checkbox is disabled, its a deprecated feature that is still in the extension because im too lazy to remove it, but i probably should since every now and then people get confused by weird errors.
![Untitled](https://user-images.githubusercontent.com/46901787/124796758-d0998880-df51-11eb-9059-8acb510ed847.png)

[2021-07-07 16:33] #87 closed

[2021-08-18 08:40] simpleman383 opened #89 "Warning "Empty PropertySass (Property: 0)" in v1.8.17"
**Describe the bug**
When I edit any SASS file with indented syntax, I catch annoying warnings containing a message "Empty PropertySass (Property: 0)" in every line with properties. To compare, version 1.8.16 doesn't seem to reproduce such a behavior.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Sass Extension v1.8.17
2. Create a `.sass` file in your workspace
3. Write some rules

[2021-08-18 11:11] TheRealSyler commented on #89
i forgot to publish the commit that disables the linter, this will be fixed in the next release.

[2021-08-18 11:11] #89 closed

[2021-08-20 02:14] ianhobbs opened #90 "auto indent seems to fail"
I just can't convince the formatter to write a no indent new line in this section.

	$child: 20vw
nav.off-canvas

_Should be_

$child: 20vw
nav.off-canvas

App Visual Studio Code current plugin settings.

{
    "sass.disableAutoIndent": true,
    "sass.andStared": [

        "active",
        "focus",
        "hover",
        "nth-child"
    ]
}

[2021-08-20 05:32] ianhobbs commented on #90
Ok fixed it by placing the variables at the top of the file

[2021-08-20 05:33] #90 closed

[2021-08-20 05:34] ianhobbs commented on #90
Fixed by putting the variable at the beginning of the document

[2021-09-29 20:12] aaron-bond opened #91 "Block comment format"
Hi, I maintain https://github.com/aaron-bond/better-comments.

I'm working on a feature at the minute where I pull the comment syntax from the loaded extensions, instead of having my own proprietary list of the comment tags.

I've noticed that this extensions contributes block comments in the format: `/** blah blah **/` and was wondering what the reason for this is?

https://github.com/TheRealSyle

[2021-09-29 20:26] TheRealSyler commented on #91
im not sure, i don't remember why i changed that, i will fix it in the next version.

ive been using your extension for a couple of years, thanks for making it, small things can really improve the coding experience.

[2021-09-29 20:27] #91 closed

[2021-09-30 16:56] aaron-bond commented on #91
Many thanks!

[2021-11-12 05:35] RobertSandiford commented on #75
I don't think is a very important issue - it's pretty weird syntax to begin with.

But I had a look at it to see if I could solve it

[code]

Begin with //
Then create a sub-pattern
Subpattern look-behinds to find the //, and start matching. Maybe this could just be .* ?
Subpattern continues until it finds a line not starting with indentation (2, 4, 8 spaces or tab)
Main pattern does a lookbehind

[2021-12-06 17:39] edumqssan opened #92 "Meta property value was not fully recognized"
**Describe the bug**
Part of syntax highlighting of meta.property-value mistaken as support.constant.mathematical-symbols

**To Reproduce**
Steps to reproduce the behavior:
Create a file .scss and add the following code:
[code]

**Expected behavior**
When add the source-code-pro **without quotation** in .css, the editor recognizes the symbol as part of meta.property-value
[code]

**Screenshots**

[2021-12-06 17:45] #92 closed

[2022-01-09 22:07] Matix-Media opened #93 "Two dollar signs when using autocomplete in vue file"
**Describe the bug**
When I try to use the autocomplete feature in a Vue file and start by typing a dollar sign ($) and click on an auto complete option, the dollar sign I wrote does not seem to get override, which leads to two dollar signs.

**To Reproduce**
Steps to reproduce the behavior:
Open a vue single component file, use autocomplete with variable

**Expected behavior**
only one dollar sig

[2022-01-11 05:40] TheRealSyler commented on #93
This extension is for  .sass only, please open your issue in the vscode repo.

[2022-01-11 05:40] #93 closed

[2022-01-24 16:34] 7keo opened #94 "Allow for spaces between names and :"
Currently, if you type an identifier like this
[code]
it gets picked up by the syntax highliter.

But if you type
[code]
or
[code]
it does not get picked up, even though it's valid syntax.

Also, for variables, the same occurs
[code]
is fine, but
[code]
is not picked up.

Please note that the ":" should be parsed as an operator (its own token), and not as part of the id name. This seems to current

[2022-01-24 20:14] TheRealSyler commented on #94
i also noticed that but i never looked into it, im currently only fixing bugs so if you want you can make a pr, otherwise this might take a while.

[2022-01-31 06:24] xanderwill opened #95 "VSCODE freezes in Sass files with more than 1000 lines of code when trying to load hints"
Some strange behavior started a few days ago. Over 1000 lines of code in Sass files hangs VSCODE when trying to load tooltips. To reproduce the error, it is enough to write, for example, "w > Tab", after which Tab stops working, file saving and the program starts to slow down.

[2022-01-31 13:04] xanderwill commented on #95
I created an open repository with a single index.sass file, into which I copied the text from the working site and where the same problem is observed.

git@gitlab.com:bspro-inc/problem.git
OR
https://gitlab.com/bspro-inc/problem.git

List of my extensions:
![image](https://user-images.githubusercontent.com/98729685/151798089-4008af4b-f660-4320-804c-b702013de3c2.png)

Settings:
![image](https://use

[2022-01-31 16:03] TheRealSyler commented on #95
thanks for making the example, i can kind of reproduce the issue, but i have no idea why it happens, i don't get any errors and im not even sure that my extension is the problem since it might just be vscode that doesn't like large files, ill leave this issue open, but im not going to fix it, because i don't have the time to spend on a bug that is this hard to find.

if you want to fix it yourself

[2022-01-31 19:37] xanderwill commented on #95
Thanks for trying to help, I also don't understand why this suddenly happened.

[2022-03-01 12:18] zhangpy opened #96 "not format when choose format on context menu"
version: v1.8.19
file name x.vue
[code]

expect insert blankspace in from of "flex" text

[2022-03-01 14:27] TheRealSyler commented on #96
it works for me, have you installed vetur?, and set it as the default formatter (you can change it by right clicking and choose format with then set default.)? and check that `vetur.format.defaultFormatter.sass` is set to `sass-formatter` and not `none`.

[2022-03-01 14:27] #96 closed

[2022-03-01 14:28] TheRealSyler commented on #96
the sass extension on its own does nothing i think but im not sure, i forgot how it works exactly.

[2022-03-15 23:04] JoshuaSand0val opened #97 "Syntax error reported when using `@at-rule` with/without syntax."
**Describe the bug**
Whenever using the `@at-root` syntax to exclude certain media query features, VS Code reports a syntax error when there is not one.

**To Reproduce**
Copy the code attached below, or write a simple `@at-root` declaration using the with/without syntax.
If you are just recently aware of this feature as I was, documentation here:
https://sass-lang.com/documentation/at-rules/at-ro

[2022-03-15 23:10] TheRealSyler commented on #97
this extension is for `.sass` only, please open your issue in the [vscode repo](https://github.com/microsoft/vscode).

[2022-03-15 23:10] #97 closed

[2022-04-07 19:50] #65 closed

[2022-04-07 19:51] #75 closed

[2022-05-30 05:25] gnehs opened #98 "Autocomplete does not support new CSS features"
**Is your feature request related to a problem? Please describe.**
Some new css features are not supported by autocomplete, such as `aspect-ratio`, `backdrop-filter` ...etc

**Describe the solution you'd like**
Please update the [`autocomplete.data.props.json`](https://github.com/TheRealSyler/vscode-sass-indented/blob/c0e394d5d1ae7afe6a7c58cd63a3f2376e003939/src/autocomplete/schemas/generatedData/

[2022-05-30 16:33] TheRealSyler commented on #98
Thanks for letting me know, i knew this would happen someday, i don't have the time to update them right now, if you want to you can do it and i will merge the pr.

you can get the data from here https://github.com/mdn/data/tree/main/css
but you can't just merge or replace the file since the format is different and it would break the extension.
you would need to rewrite a small part of the extensi

[2022-06-11 17:40] Mitchman215 commented on #98
I'm gonna try to tackle this and a few other updates in [my fork](https://github.com/Mitchman215/vscode-sass-indented), I'll create a pull request when it's ready to merge.

[2022-06-11 23:27] Mitchman215 commented on #98
@TheRealSyler Do you know where the data used to generate the [autocomplete.data.props.json](https://github.com/TheRealSyler/vscode-sass-indented/blob/c0e394d5d1ae7afe6a7c58cd63a3f2376e003939/src/autocomplete/schemas/generatedData/autocomplete.data.props.json) came from originally?
The [mdn data repo](https://github.com/mdn/data/tree/main/css) you linked doesn't have descriptions or listed possibl

[2022-06-12 08:25] TheRealSyler commented on #98
@Mitchman215 i added the mdn data to the the data that was there before i took over the extension, i think they got it from some microsoft project but im not sure, if you really want to know you need to look at the commit history.

[2022-06-12 08:30] TheRealSyler commented on #98
@Mitchman215 you could write a script that merges the current mdn data or maybe we need to find some other source for the data.

[2022-06-12 08:38] TheRealSyler commented on #98
@Mitchman215 i think [this](https://github.com/TheRealSyler/vscode-sass-indented/blob/c629327bb0421d028e286dfcdaccc83a5b62a3f6/src/autocomplete/schemas/autocomplete.cssSchema.ts) is the original data.

[2022-06-12 08:44] TheRealSyler commented on #98
i just looked at the linked issue and the new commits, it seems like you already figured it out, when your ready make a pr, ill review and merge it, thanks for spending the the time to do this.

[2022-06-23 08:04] TheRealSyler commented on #98
Fixed by #99

[2022-06-23 08:04] #98 closed

[2022-07-08 13:51] Ged007 opened #100 "SASS /SCSS work on PHP with vs code and how please help me"
SASS /SCSS work on PHP with vs code and how please help me

i open my xampp and start appache and mysql , then i created index.php file and start html codes to centralize and give a page design i use style.scss and connected but it won't edit

my link was on auto-created by scss - style.css
![Capture](https://user-images.githubusercontent.com/52948198/178005321-2c838f9c-25f7-43cf-b157-fb75bc8fcf08

[2022-07-08 14:19] TheRealSyler commented on #100
This extension is for `.sass` files only, please open your issue in the vscode repo.

[2022-07-08 14:19] #100 closed

[2022-07-12 23:57] TheRealSyler opened #101 "Use esbuild/rollup and remove weback"

[2022-07-27 17:29] pikeas opened #102 "Syntax highlighting for comma-separated elements with colons"
**Describe the bug**

I discovered this bug with:

[code]

`:after` is highlighted blue (will depend on theme) and `:before` is highlighted white.

After trying a few other combinations, I found a minimal reproduction:

[code]

When the final selector in a list starts with a colon, it's highlighted as a property name rather than as part of the list of selectors.

**Expected behavior**
Consistent h

[2022-07-27 17:32] pikeas opened #103 "Unexpected indent on enter"
**Describe the bug**
[code]
Pressing enter triggers an indent, resulting in:

[code]

**Expected behavior**
[code]

[2022-07-27 18:01] TheRealSyler commented on #103
There is a option to disable this behavior `sass.disableAutoIndent`, you need to reload/restart vscode after changing it.

[2022-07-27 18:01] #103 closed

[2022-07-27 18:07] TheRealSyler commented on #102
Thanks for letting me know, i probably wont fix this anytime soon, its not a bug that breaks anything and im too lazy to relearn the textmate grammar stuff, if you want too you can fix it and ill merge the pr and publish a new version.

[2022-08-09 20:26] OreotheCookie opened #104 "A very ANNOYING THING"
**_IMPORTANT_**: if the bug is related to the formatter please open the issue in the formatter [repo](https://github.com/TheRealSyler/sass-formatter/issues/new?assignees=TheRealSyler&labels=bug&template=bug_report.md&title=)

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

The bug  is that there are not values appearing.

[2022-08-09 23:28] TheRealSyler commented on #104
well that sucks for you, im kinda busy rn, but you can fix it if you want to, i believe in you, buddy.

[2022-08-09 23:28] #104 closed

[2022-08-11 00:22] OreotheCookie opened #105 "Make Sass just like scss"
The title says it all. Never change .scss and make .sass just like .scss
**Additional context**
Add any other context or screenshots about the feature request here.

[2022-08-11 00:24] OreotheCookie commented on #104
Yeah buddy how do I do that

But seriously, just make .sass a copy of .scss

[2022-08-11 07:20] TheRealSyler commented on #105
im not sure what you want, please elaborate.

[2022-08-11 07:21] TheRealSyler commented on #104
for this extension you need to update https://github.com/TheRealSyler/vscode-sass-indented/blob/master/src/languageFeatures/color/color.provider.ts to include all color words like `red`.

[2022-08-20 17:32] OreotheCookie commented on #105
I mean, please just steal all the .scss source code (it's probably open source) and then put it in .sass.

[2022-08-20 19:46] TheRealSyler commented on #105
feel free to make a pr, im not going to do that.

[2022-08-20 19:46] #105 closed

[2022-08-21 19:50] OreotheCookie commented on #105
Alright mate

[2022-08-29 11:03] nicolasmol opened #106 "Indentation auto-formatting: one case where a semi-colon is not removed"
hi
[code]
once auto reformated (e.g. "on save")

[code]

[2022-08-29 12:03] TheRealSyler commented on #106
Thanks for letting me know.

[2022-09-02 07:47] Shane-Peterson opened #108 "How does the magic comment work"
How does it work, can you give an example?

Thank you so much!!

[2022-09-02 08:00] TheRealSyler commented on #108
lets say you have file `a.sass` and file `b/b.sass`

`a.sass`
[code]

`b/b.sass`
[code]

you should get autocompletion in the `var()` with the variables declared in `a.sass`, im not sure if it works with sass variables.

[2022-09-02 08:00] #108 closed

[2022-09-02 08:01] TheRealSyler commented on #108
i think for sass variable you need to use the `@import/@use` but it im not sure if it still works.

[2022-09-11 21:18] plagasul opened #109 "No Sticky Scroll (And no outline view)"
**Describe the bug**
VSCode ships with a new feature named 'Sticky Scroll' that does not work in my environment with .sass files.

As explained [in this issue](https://github.com/microsoft/vscode/issues/160493), a contributor suggests the problem lays in this extension rather than in VsCode itself, and that the fact that the outline view is empty is proof of this.

Certainly, .sass files are the o

[2022-09-12 08:18] TheRealSyler commented on #109
Im currently not implementing new features, I'll keep this open In case I or someone else wants to work on it in the future, prs are always welcome.

[2022-09-26 17:00] SanyaSirota opened #110 "1"
**_IMPORTANT_**: if the bug is related to the formatter please open the issue in the formatter [repo](https://github.com/TheRealSyler/sass-formatter/issues/new?assignees=TheRealSyler&labels=bug&template=bug_report.md&title=)

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise descrip

[2022-09-26 18:17] tinleym opened #111 "Cascade layer block with interpolated media query value throws an error"
**Describe the bug**

Putting a media query with an interpolated parameter inside a cascade layer block yields the following error:
`at-rule or selector expected scss(css-ruleorselectorexpected)`

**To Reproduce**

[code]

**Expected behavior**
No error

[2022-09-26 20:17] #111 closed

[2022-09-28 14:16] #110 closed

[2022-11-09 10:48] justinkruit opened #112 "Suggestions based on workspace files even when not editing file in workspace"
**Is your feature request related to a problem? Please describe.**
For a while now, suggestions only work when you edit a scss file inside your workspace. But when you open a file that isn't in your workspace, but with the workspace still open, it stops suggesting stuff. This is not consistent with other languages like PHP. I often work with files remotely, but have a copy of a dev environment ope

[2022-11-09 10:55] TheRealSyler commented on #112
@justinkruit this extension is only for `.sass` consider creating an issue in the vscode repo where the builtin extension should be.

[2022-11-09 10:55] #112 closed

[2022-11-15 10:25] GitUser200607 opened #113 "Missing data in Outline window"
**Is your feature request related to a problem? Please describe.**
I don't know is it a bug, or missing feature.

**Describe the solution you'd like**
Outline window has to display scss file structure: element, classes and ids names to jump on them

Add any other context or screenshots about the feature request here.
CSS file:
![2022-11-15_13-20-31](https://user-images.githubusercontent.com/172354

[2022-11-15 10:38] TheRealSyler commented on #113
is a missing feature, im currently not adding new features if you want to you can add it and i will merge the pr, i think its related to #40

[2022-11-15 12:06] GitUser200607 commented on #113
How can I add it?

[2022-11-15 13:16] TheRealSyler commented on #113
@GitUser200607 you need to add a ["Definition Provider"](https://code.visualstudio.com/api/language-extensions/programmatic-language-features#show-definitions-of-a-symbol), using the `languages.registerDefinitionProvider` function in the [extension.ts#activate](https://github.com/TheRealSyler/vscode-sass-indented/blob/c84a07a238cc725bf4116b24e0dcde3c36575776/src/extension.ts#L27) function, put you

[2022-11-18 11:19] GitUser200607 opened #114 "No suggestion for shorthands"
**Describe the bug**
I am trying to quick type "margin-bottom: 19px"
So I type "mb19", but there is no a suggestion

**To Reproduce**
Steps to reproduce the behavior:
type "mb19"

**Expected behavior**
Emmet has to suggest "margin-bottom: 19px"

**Screenshots**
CSS:

![2022-11-18_13-48-14](https://user-images.githubusercontent.com/17235450/202692718-1f194d62-9651-4876-8b90-7dcc7b61d0bc.png)

SASS:

[2022-11-18 11:39] TheRealSyler commented on #114
this feature is not implemented and im currently not adding new features, if you want to you can make a pr to add the feature.

[2022-11-18 11:46] TheRealSyler commented on #114
you can try my [`sass-next`](https://marketplace.visualstudio.com/items?itemName=Syler.sass-next) extension but its not maintained and somewhat buggy, that extension has a similar feature to use it you need to type `?` then you will get an input and the you can see al the options based on you current input as a comment above you cursor.

as an example if you type `?` then `mb 10px, br 5px` then en